{% macro content(internship, company, location) %}
    <div class="card shadow my-3 bg-pastelBlue rounded-4">
        <div class="card-body">
            <div class="row align-items-center ">
                <div class="col-6 text-center border-end border-heavyBlack">
                    <div class="">Salaire mensuel</div>
                    <div>{{ internship.getLowSalary() }}$ - {{ internship.getHighSalary() }}$</div>
                </div>
                <div class="col-6 text-center">
                    <img src="/assets/svg/internships/folded_map.svg" alt="map">
                    <div>{{ internship.getLocation().getZipcode() }} {{ internship.getLocation().getCity() }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow my-3 pt-3 bg-pastelBlue rounded-4">
        <div class="card-body">
            <div class="pb-2"><h4>Informations</h4></div>
            <div class="row row-cols-2">
                <div class="col-4">
                    <img src="/assets/svg/internships/calendar.svg" alt="calendar">
                    <div class="text-darkGrey">OFFRE DISPONIBLE</div>
                    <div class="mb-2">Du {{ internship.getStartDate()|date("d/m/Y") }}
                        au {{ internship.getEndDate()|date("d/m/Y") }}</div>

                    <img src="/assets/svg/internships/brief_case.svg" alt="briefcase">
                    <div class="text-darkGrey">NIVEAU REQUIS</div>
                    {% for promo in internship.getPromos() %}
                        <div class="mb-2">A{{ promo.getYear() }} {{ promo.getType() }}</div>
                    {% endfor %}

                </div>

                <div class="col-4">
                    <img src="/assets/svg/internships/stack.svg" alt="stack">
                    <div class="text-darkGrey">DUREE DU STAGE</div>
                    <div class="mb-2">{{ internship.getDurationDays() }} jours</div>
                </div>

                <div class="col-4">
                    <img src="/assets/svg/internships/timer.svg" alt="timer">
                    <div class="text-darkGrey">NOMBRE DE PLACES</div>
                    <div class="mb-2">{{ internship.getPlaceCount() }} stagiaires recherchés</div>

                    <img src="/assets/svg/internships/brief_case.svg" alt="briefcase">
                    <div class="text-darkGrey">COMPETENCES REQUISES</div>
                    {% for skill in internship.getSkills() %}
                        <div class="mb-2">{{ skill.getName() }} </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}