{% macro content(first_name, last_name, formation, profile_picture, message) %}
    <div class ="card shadow mb-3 bg-gradient-card">
        <div class="card-body">
            <div class="row align-items-center text-nowrap">
                <div class="col-xl-3 col-4">
                    <div class="row">
                        <div class="col">
                            {{ first_name }} {{ last_name }}
                        </div>
                        <div class="col">
                            Etudiant à {{ formation  }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-3 d-none d-sm-block">
                    <img class="img-fluid" src="{{ profile_picture }}" alt="pfp">
                </div>
                <div class="col-1 d-md-none"></div>
                <div class="col-xl-6 col-5">
                    <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                    <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                    <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                    <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                    <img class="fluid" src="/assets/svg/tile/start_empty.svg" alt="star_empty">
                </div>
            </div>

            <div class=row">
                {{ message }}
            </div>
        </div>
    </div>
{%  endmacro %}