{% macro content(id, fixed = -1) %}
    <div id="{{ id }}" class="user-select-none" data-fixed="{{ fixed }}">
        {% for i in 1..5 %}
            <i class="fa fa-star {{ i <= fixed ? "text-goldenBrown" : "text-heavyBlack" }} star-{{ id }}"></i>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function() {
            var stars = $("#{{ id }}");
            var starElements = stars.find(".star-{{ id }}");
            var activeColor = "text-goldenBrown";
            var inactiveColor = "text-heavyBlack";
            var fixed = stars.data("fixed");

            if (fixed < 0) {
                var rated = false;

                starElements.hover(function() {
                    if (rated) return;
                    $(this).prevAll().addBack().removeClass(inactiveColor).addClass(activeColor);
                }, function() {
                    if (rated) return;
                    starElements.removeClass(activeColor).addClass(inactiveColor);
                });

                starElements.click(function() {
                    if (rated && $(this).hasClass(activeColor)) {
                        starElements.removeClass(activeColor).addClass(inactiveColor);
                        rated = false;
                    } else {
                        $(this).prevAll().addBack().removeClass(inactiveColor).addClass(activeColor);
                        rated = true;
                    }
                });
            }
        });
    </script>
{% endmacro %}