<div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasExampleLabel">Espace entreprise</h3>
    <div class="btn-close" data-bs-dismiss="offcanvas"></div>
</div>
<div class="offcanvas-body">
    <div class="card bg-richWarmGrey bg-opacity-25 rounded-5">
        <div class="card-body">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <div class="row align-items-center">
                        <a class="col-2 nav-link text-heavyBlack ms-3" href={{ url_for("home") }}>
                            <img class="img-fluid" src="/assets/svg/collaborators_filled.svg"
                                 alt="collaborators">
                        </a>
                        <h5 class="col">
                            Accueil
                        </h5>
                    </div>
                </li>
                <div class="m-2"></div>
                <li class="nav-item">
                    <div class="row align-items-center">
                        <a class="col-2 nav-link text-heavyBlack ms-3" href={{ url_for("home") }}>
                            <img class="img-fluid" src="/assets/svg/company_profile.svg"
                                 alt="profile">
                        </a>
                        <h5 class="col">
                            Stages
                        </h5>
                    </div>
                </li>
                <div class="m-2"></div>
                <li class="nav-item">
                    <div class="row align-items-center">
                        <a class="col-2 nav-link text-heavyBlack ms-3" href={{ url_for("home") }}>
                            <img class="img-fluid" src="/assets/svg/create_internship.svg"
                                 alt="internship">
                        </a>
                        <h5 class="col">
                            Entreprises
                        </h5>
                    </div>
                </li>
                <div class="m-2"></div>
                <li class="nav-item">
                    <div class="row align-items-center">
                        <a class="col-2 nav-link text-heavyBlack ms-3" href={{ url_for("home") }}>
                            <img class="img-fluid" src="/assets/svg/create_company.svg"
                                 alt="company">
                        </a>
                        <h5 class="col">
                            Statistique
                        </h5>
                    </div>
                </li>
                <div class="m-2"></div>
                <li class="nav-item">
                    <div class="row align-items-center ms-3">
                        <a class="col-2 nav-link text-heavyBlack" href={{ url_for("home") }}>
                            <img class="img-fluid" src="/assets/svg/create_user.svg" alt="user">
                        </a>
                        <h5 class="col">
                            Profil
                        </h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>