{% extends "components/base.twig" %}

{% block header %}
    <section class ="bg-gradient-card">
        <div class="container">
            <div class ="row align-items-center">
                <div class ="col-4">
                    <img class="img-fluid my-3 w-75" src="/assets/illustrations/company_logo_bis.svg" alt="photo">
                </div>
                <div class="col-8">

                </div>
            </div>
        </div>
    </section>

    <section class ="bg-deepWarmGrey rounded-bottom-5 pb-5">
        <div class="container">
            <div class="row">
                <div class ="col-4 col-md-4 col-8">
                    {% set company_name= "Facebook" %}
                    {% set activity_sector = "Developpement de logiciels" %}
                    {% set location = "Reims, Grand-Est, France" %}
                    {% set employee_count = "Plus de 10k" %}
                    {% set intern_count = "284" %}
                    {% set company_site = "https://www.linkedin.com/company/facebook/" %}
                    {{ include ("components/company_profile.twig") }}

                    <div class= "d-md-none">
                        {% set rating_count = "250" %}
                        {{ include ("components/company_rating_card.twig") }}
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-4 d-none d-md-block">

                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-block">
                    {% set rating_count = "250" %}
                    {{ include ("components/company_rating_card.twig") }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section>
        <div class="container text-bg-deepWarmGrey rounded-5 pt-3 pb-4 px-3 my-5">
            <h2>Infos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie est nec mollis imperdiet. Aliquam tortor felis, euismod vel lacus in, elementum finibus turpis. Phasellus quis dolor velit. Sed id odio sagittis, gravida lorem vel, condimentum ipsum. Quisque porta neque quis viverra consequat. Vivamus feugiat faucibus est, imperdiet lacinia eros malesuada at. Vestibulum venenatis eu mi eget gravida. In vehicula euismod elit, eget sagittis elit pretium vitae. Suspendisse sit amet sodales erat, consequat feugiat elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Mauris blandit, erat at lobortis tempor, ipsum augue ornare lacus, non varius metus urna ut ex. Proin consectetur ligula augue. Nulla faucibus suscipit mauris, nec auctor mi feugiat vitae.</p>
        </div>
    </section>

    <section>
        <div class="container text-bg-deepWarmGrey rounded-5 pt-3 pb-4 px-3 my-5">
            <h2 class="mb-3">Offres de stage</h2>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}
                </div>
                <div class="col-6 col-lg-4 d-none d-md-block">
                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}
                </div>
                <div class="col-4 d-none d-lg-block">
                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_illustration = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}