{% extends "templates/base.twig" %}

{% block header %}
    <section class="bg-deepWarmGrey pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 ">
                    <h1>
                        Trouves un stage qui mets en valeur tes compétences
                    </h1>
                    <p>
                        Navigues parmis des milliers d'entreprises, des dizaines de domaines, parcours les centaines
                        d'avis et trouves TON stage
                    </p>
                </div>
                <div class="col-lg-2 d-none d-lg-block"></div>
                <div class="col-lg-4 d-none d-lg-block align-self-center">
                    <img class="img-fluid rounded-5" src="/assets/illustrations/home_page.svg"
                         alt="illustration-homepage"/>
                </div>
            </div>
            <div class="row row-cols-md-2 row-cols-lg-4 align-content-center">
                <div class="mb-3 mb-lg-0">
                    {% set illustration = "/assets/svg/brief_case.svg" %}
                    {% set number_variable = "9242" %}
                    {% set type_variable = "Stages" %}
                    {{ include("components/home_info_card.twig") }}
                </div>
                <div class="mb-3 mb-lg-0">
                    {% set illustration = "/assets/svg/companies.svg" %}
                    {% set number_variable = "5251" %}
                    {% set type_variable = "Entreprises" %}
                    {{ include("components/home_info_card.twig") }}
                </div>
                <div class="mb-3 mb-lg-0">
                    {% set illustration = "/assets/svg/collaborators.svg" %}
                    {% set number_variable = "38213" %}
                    {% set type_variable = "Etudiants" %}
                    {{ include("components/home_info_card.twig") }}
                </div>
                <div class="mb-3 mb-lg-0">
                    {% set illustration = "/assets/svg/teachers.svg" %}
                    {% set number_variable = "3102" %}
                    {% set type_variable = "Pilotes" %}
                    {{ include("components/home_info_card.twig") }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="my-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-10 col-md-9 col-7">
                    <h1>Recommendations de stages</h1>
                </div>
                <div class="col-lg-2 col-md-3 col-5 align-items-end d-flex justify-content-end">
                    <div class="btn btn-outline-custom-blue text-nowrap shadow">
                        Voir tout
                        <img class="img-fluid" src="/assets/svg/arrow_pointing_right.svg" alt="arrow"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}
                </div>
                <div class="col-6 col-lg-4 d-none d-md-block">
                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}
                </div>
                <div class="col-4 d-none d-lg-block">
                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_illustration = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}

                    {% set job_title = "Ingenieur logiciel" %}
                    {% set pay = "700" %}
                    {% set wish_mark = "/assets/svg/wish_mark.svg" %}
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {{ include("components/job_tile_card.twig") }}
                </div>
            </div>

        </div>
    </section>
{% endblock %}

