{% macro content(id, old = [], errors = [], rows = 3, shadow = true) %}
    <div class="input-group rounded-2 {% if shadow %}shadow{% endif %}">
        <textarea class="form-control" id="{{ id }}" name="{{ id }}" aria-label="{{ id }}" rows="{{ rows }}"
               {% if old[id] %}value="{{ old[id] }}"{% endif %} style="resize: none;"></textarea>
    </div>
    {% if errors[id] %}
        <div class="text-coldRed ms-1">
            {{ errors[id] }}
        </div>
    {% endif %}
{% endmacro %}