{% macro content(id, errors = [], shadow = true) %}
    <div class="input-group rounded-2 {% if shadow %}shadow{% endif %}">
        <input class="form-control" type="password" id="{{ id }}" name="{{ id }}" aria-label="{{ id }}">
        <div class="input-group-text bg-deepWarmGrey" id="toggle-{{ id }}">
            <i class="fa fa-eye text-deepSeaBlue" id="icon-{{ id }}"></i>
        </div>
    </div>
    <script>
        $("#toggle-{{ id }}").click(function() {
            input = $("#{{ id }}");
            icon = $("#icon-{{ id }}");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
                icon.removeClass("fa-eye").addClass("fa-eye-slash");
            } else {
                input.attr("type", "password");
                icon.removeClass("fa-eye-slash").addClass("fa-eye");
            }
        });
    </script>
    {% if errors[id] %}
    {% endif %}
    <div class="text-coldRed ms-1">
        {{ errors[id] }}
    </div>
{% endmacro %}