{% macro content(id, errors = [], shadow = true) %}
    <div class="input-group rounded-2 {% if shadow %}shadow{% endif %}">
        <input class="form-control" type="password" id="{{ id }}" name="{{ id }}" aria-label="{{ id }}">
        <div class="input-group-text bg-deepWarmGrey" onclick="toggleText(event, '{{ id }}')">
            <img class="img-fluid" src=/assets/svg/misc/visibility_on.svg alt="search" id="{{ id }}-icon"
                 style="max-width: 24px; max-height: 24px">
        </div>
    </div>
    {% if errors[id] %}
        <div class="text-coldRed ms-1">
            {{ errors[id] }}
        </div>
    {% endif %}
{% endmacro %}