{% import "components/layouts/flash_banner.twig" as flash_banner %}

{% if flash != null %}
    {% if flash.status.name == "success" %}
        {% set display = true %}
        {{ flash_banner.content("bg-pastelGreen", "check_circle_fill", "Succès : ") }}

    {% elseif flash.status.name == "info" %}
        {% set display = true %}
        {{ flash_banner.content("bg-pastelBlue", "info_circle_fill","Information : ") }}

    {% elseif flash.status.name == "warning" %}
        {% set display = true %}
        {{ flash_banner.content("bg-goldenBrown bg-opacity-25", "exclamation_triangle_fill", "Avertissement : ") }}

    {% elseif flash.status.name == "error" %}
        {% set display = true %}
        {{ flash_banner.content("bg-pastelRed", "exclamation_circle_fill", "Erreur : ") }}

    {% else %}
        <div class="alert alert-danger h4 text-center">
            The flash status "{{ flash.status.name }}" is not supported yet
        </div>
    {% endif %}
{% endif %}

{% if display %}
    {{ include("components/layouts/flash_banner.twig") }}
{% endif %}