{% macro content(errors, old, id, area = false, rows = 3, password = false, file = false, shadow = true) %}
    {% if area %}
        <textarea class="form-control {% if shadow %}shadow{% endif %}" id="{{ id }}" name="{{ id }}"
                  rows="{{ rows }}" style="resize: none;" aria-label="">
        {{ old[id] }}
        </textarea>
    {% elseif password %}
        <div class="input-group rounded-5 {% if shadow %}shadow{% endif %}">
            <input class="form-control" id="{{ id }}" name="{{ id }}"
                    {% if password %}
                        type="password"
                    {% else %}
                        type="text"
                    {% endif %}
                    value="{{ old[id] }}" aria-label="">
            {% if password %}
                <div class="input-group-text bg-deepWarmGrey" onclick="toggleText(event, '{{ id }}')">
                    <img class="img-fluid" src=/assets/svg/misc/visibility_on.svg alt="search"
                         style="max-width: 24px; max-height: 24px" id="{{ id }}-icon">
                </div>
            {% endif %}
        </div>
    {% elseif file %}
        <input class="form-control rounded-5 {% if shadow %}shadow{% endif %}" type="file" id="{{ id }}" name="{{ id }}" value="{{ old[id] }}">
    {% else %}
        <input class="form-control {% if shadow %}shadow{% endif %}" id="{{ id }}" name="{{ id }}"
               value="{{ old[id] }}" aria-label="">
    {% endif %}

    {% if errors[id] %}
        <div class="text-coldRed ms-1">
            {{ errors[id] }}
        </div>
    {% endif %}
{% endmacro %}