{% extends "components/layouts/base.twig" %}
{% import "components/tiles/lang_tile.twig" as lang_tile %}

{% block body %}
    <nav class="sticky-top bg-white shadow">
        <div class="navbar navbar-expand-lg bg-deepWarmGrey">
            <div class="container py-1">
                <a class="w-10" href={{ url_for("home") }}>
                    <img class="img-fluid" src="/assets/img/logo.png" alt="logo"/>
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navBarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ms-2" id="navBarContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-heavyBlack" href={{ url_for("home") }}>Accueil</a>
                        </li>
                        <div class="text-heavyBlack d-none d-lg-block align-self-center">&middot;</div>
                        <li class="nav-item">
                            <a class="nav-link text-heavyBlack" href={{ url_for("jobs") }}>Stages</a>
                        </li>
                        <div class="text-heavyBlack d-none d-lg-block align-self-center">&middot;</div>
                        <li class="nav-item">
                            <a class="nav-link text-heavyBlack" href={{ url_for("companies") }}>Entreprises</a>
                        </li>
                        <div class="text-heavyBlack d-none d-lg-block align-self-center">&middot;</div>
                        <li class="nav-item">
                            <a class="nav-link text-heavyBlack" href={{ url_for("user") }}>Profil</a>
                        </li>
                        <div class="ms-lg-3"></div>
                        <li class="nav-item dropdown dropdown-center">
                            <div class="btn btn-deepSeaBlue dropdown-toggle shadow" data-bs-toggle="dropdown">Langue
                            </div>
                            <ul class="dropdown-menu dropdown-menu-end w-25">
                                <li>
                                    {{ lang_tile.content("Français","/assets/img/flags/french.png") }}
                                </li>
                                <li>
                                    {{ lang_tile.content("Anglais","/assets/img/flags/us.png") }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="my-2 d-lg-none"></div>
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="btn btn-deepSeaBlue text-nowrap shadow" data-bs-toggle="offcanvas"
                         data-bs-target="#sideMenu">
                        Espace entreprise
                    </div>

                </div>

                <div class="col-lg-1 d-none d-lg-block"></div>
                <div class="col-12 col-lg-6">
                    {% if alternative_search_bar %}
                        {{ include ("components/layouts/alternative_search_bar.twig") }}
                    {% else %}
                        {{ include ("components/layouts/search_bar.twig") }}
                    {% endif %}
                </div>

                <div class="m-2 d-lg-none"></div>

                <div class="col-6 d-lg-none">
                    <div class="btn btn-deepSeaBlue text-nowrap shadow" data-bs-toggle="offcanvas"
                         data-bs-target="#sideMenu">
                        Espace entreprise
                    </div>
                </div>

                <div class="col-lg-1 d-none d-lg-block text-end">
                    <a href={{ url_for("user") }}>
                        <img class="img-fluid my-3 w-75" src="/assets/illustrations/profil.svg" alt="profile_picture">
                    </a>
                </div>

                <div class="col-6 col-lg-2 text-end">
                    <a class="btn btn-outline-custom-blue text-nowrap shadow" href={{ url_for("login") }}>
                        Se déconnecter
                    </a>
                </div>

                <div class="my-2 d-lg-none"></div>

                {{ include("components/layouts/side_menu.twig") }}
            </div>
        </div>
    </nav>

    <section>{% block header %} Header here {% endblock %}</section>

    <section class="flex-fill">{% block content %} Content here {% endblock %}</section>

    {{ include("components/layouts/footer.twig") }}
{% endblock %}