{% set title = "Stagify - Entreprises" %}
{% set alternative_search_bar = true %}
{% set pagination = true %}
{% extends "components/layouts/layout.twig" %}
{% import "components/forms/radio_field.twig" as radio_field %}

{% block templates %}
    {{ include("components/tiles/company_tile.twig") }}
{% endblock %}

{% block header %}
    <section class="bg-deepWarmGrey ">
        <div class="container py-3">
            <div class="row">
                <div class="col-8">
                    <div class="pt-2">Recherche d'entreprises</div>
                </div>
                <div class="col-4 text-end">
                    <div class="dropdown dropdown-menu-end">
                        <div class="btn btn-deepWarmGrey shadow" data-bs-toggle="dropdown"
                             data-bs-target="#companiesFilter">
                            <img src="/assets/svg/misc/sliders.svg" alt="slider"> Filtres
                        </div>

                        <div class="dropdown-menu shadow-lg px-4" id="companiesFilter">
                            <label class="pt-2">Filtrer les entreprises :</label>
                            <div class="dropdown-divider"></div>

                            {{ radio_field.content("ratingDesc", "rating", "Avis (décroissant)") }}
                            {{ radio_field.content("ratingAsc", "rating", "Avis (croissant)") }}

                            <div class="dropdown-divider"></div>

                            {{ radio_field.content("internshipsCountDesc", "internshipsCount", "Nombre d'offres de stages (décroissant)") }}
                            {{ radio_field.content("internshipsCountAsc", "internshipsCount", "Nombre d'offres de stages (croissant)") }}

                            <div class="dropdown-divider"></div>

                            {{ radio_field.content("internsCountDesc", "internsCount", "Nombre de stagiaires (décroissant)") }}
                            {{ radio_field.content("internsCountAsc", "internsCount", "Nombre de stagiaires (croissant)") }}

                            <div class="dropdown-divider"></div>

                            {{ radio_field.content("employeesCount0_10", "employeesCount", "1-10 employés") }}
                            {{ radio_field.content("employeesCount@11_100", "employeesCount", "11-100 employés") }}
                            {{ radio_field.content("employeesCount@101_1000", "employeesCount", "101-1000 employés") }}
                            {{ radio_field.content("employeesCount@1001_10000", "employeesCount", "1001-10 000 employés") }}
                            {{ radio_field.content("employeesCount@10001_0", "employeesCount", "10 000+ employés") }}

                            <div class="dropdown-divider"></div>

                            <div class="row pt-2">
                                <div class="col text-start">
                                    <div class="btn btn-deepSeaBlue" onclick="resetFilters()">Réinitialiser</div>
                                </div>
                                <div class="col text-end">
                                    <div class="btn btn-deepSeaBlue" onclick="applyFilters()">Valider</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container pt-4">
            <div class="row" id="companies"></div>
        </div>
    </section>
{% endblock %}

{% block scripting %}
    <script src="/assets/pages/companies.js"></script>
{% endblock %}