{% set title = "Stagify - Entreprise" %}
{% set pagination = true %}
{% extends "components/layouts/layout.twig" %}
{% import "components/tiles/company_rating_tile.twig" as company_rating_tile %}

{% block templates %}
    {{ include("components/tiles/internship_tile.twig") }}
{% endblock %}

{% block header %}
    <section class="bg-gradient-card">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <img class="img-fluid rounded-5 mt-4" src="{{ "/files/companies/" ~ company.getLogoPicture() }}"
                         alt="photo" style="width: 15vh; height: 15vh;">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-deepWarmGrey rounded-bottom-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col col-md-4 text-nowrap">
                        <h2 class="mt-3">{{ company.getName() }} - {{ location.getZipCode() }} {{ location.getCity() }}</h2>
                        <h4 class="mb-3">{{ company.getActivitySector().getName() }}</h4>
                        <h5 class="text-deepSeaBlue">
                            <i class="fa fa-users"></i>
                            &middot;
                            {{ company.getEmployeeCount() }} employés
                        </h5>
                        <h5 class="text-deepSeaBlue">
                            <i class="fa fa-book"></i>
                            &middot;
                            Un total de {{ company.getInternships()|length }} stages
                        </h5>
                        <a class="btn btn-deepSeaBlue mt-4" href="{{ company.getWebsite() }}">
                            Consulter le site web
                            <i class="fa fa-share"></i>
                        </a>
                        <div class="d-md-none">
                            {{ company_rating_tile.content("Facebook","250") }}
                        </div>
                </div>
                <div class="col-4 col-md-2 col-lg-3 col-xl-4 d-none d-md-block">
                </div>
                <div class="col-4 col-md-6 col-lg-5 col-xl-4 d-none d-md-block">
                    {{ company_rating_tile.content("Facebook","250") }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container pt-4">
            <div class="row" id="internships"></div>
        </div>
    </section>

{% endblock %}

{% block scripting %}
    <script src="/assets/pages/company.js"></script>
{% endblock %}