{% set title = "Stagify - Création d'étudiant" %}
{% extends "components/layouts/layout.twig" %}
{% import "components/layouts/form_field.twig" as form_field %}
{% import "components/tiles/removable_tile.twig" as removable_tile %}

{% block header %}
    <section class="bg-deepWarmGrey rounded-bottom-5">
        <div class="container">
            <div class="row text-center">
                <div class="text-heavyBlack py-3"><h4>Création d'utilisateur</h4></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <form class="card bg-deepWarmGrey py-3 px-3 my-5 shadow" action="{{ url_for("create_student") }}" method="post" enctype="multipart/form-data">
                <div class="row mb-2">
                    <div class="col-6 text-center border-end border-heavyBlack text-deepSeaBlue" >
                        <a class="disabled text-decoration-none" href={{ url_for("create_student") }}>
                            <h4>Etudiant</h4>
                        </a>
                    </div>
                    <div class="col-6 text-center">
                        <a class="text-decoration-none text-heavyBlack" href={{ url_for("create_pilot") }}>
                            <h4>Pilote</h4>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-lg">
                        <h5>Nom</h5>
                        {{ form_field.content(errors, old, "firstName") }}

                        <h5 class="mt-2">Prenom</h5>
                        {{ form_field.content(errors, old, "lastName") }}

                        <h5 class="mt-2">Code postal</h5>
                        {{ form_field.content(errors, old, "zipCode") }}

                        <h5 class="mt-2">Ville</h5>
                        {{ form_field.content(errors, old, "city") }}

                        <h5 class="mt-2">Photo de profil</h5>
                        {{ form_field.content(errors, old, "profilePicture", false, 0, false, true) }}

                        <h5 class="mt-2">Formation</h5>
                        {{ form_field.content(errors, old, "promoType") }}

                        <h5 class="mt-2">Promo</h5>
                        {{ form_field.content(errors, old, "promo") }}

                        <h5 class="mt-2">Ecole</h5>
                        {{ form_field.content(errors, old, "campus") }}

                        <h5 class="mt-2">Compétences</h5>
                        <div class="input-group rounded-5 shadow ">
                            {{ form_field.content("skills", false, 0, false, false, false) }}
                            <div class="input-group-append">
                                <div class="btn btn-deepSeaBlue rounded-start-0" type="button">
                                    Ajouter
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg">
                        <div class="my-2 d-md-none"></div>

                        <h5>Description du profil</h5>
                        {{ form_field.content(errors, old, "description", true, 11) }}

                        <div class="my-4"></div>

                        <div class="card bg-pastelBlue bg-opacity-50 overflow-y-scroll shadow rounded-5" style="height: 365px">
                            <div class="card-body">
                                <h6>Compétences</h6>
                                <div class="row">
                                    <div class="col">
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                        {{ removable_tile.content("C++") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-end">
                        <div class="btn btn-deepSeaBlue">Valider</div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}