{% set title = "Stagify - Création stage" %}
{% extends "components/layouts/layout.twig" %}

{% block header %}
    <section class="bg-deepWarmGrey rounded-bottom-5">
        <div class="container">
            <div class="row text-center">
                <div class="text-heavyBlack py-3"><h4>Création d'utilisateur</h4></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section>
        <div class="container">
            <div class="card bg-deepWarmGrey py-3 px-3 my-5 shadow">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <h5>Nom de l'entreprise</h5>
                        {% set id = "firstName" %}
                        {{ include("/components/layouts/form_field.twig") }}
                        <h5 class="mt-2">Titre du poste</h5>
                        {% set id = "firstName" %}
                        {{ include("/components/layouts/form_field.twig") }}
                        <h5 class="mt-2">Code postal</h5>
                        {% set id = "firstName" %}
                        {{ include("/components/layouts/form_field.twig") }}
                        <h5 class="mt-2">Ville</h5>
                        {% set id = "firstName" %}
                        {{ include("/components/layouts/form_field.twig") }}
                        <h5 class="mt-2">Adresse</h5>
                        {% set id = "firstName" %}
                        {{ include("/components/layouts/form_field.twig") }}
                        <h5 class="mt-2">Rémunération (basse-haute)</h5>
                        <div class="input-group shadow rounded-5">
                            {% set id = "firstName" %}
                            {% set noShadow = true %}
                            {{ include("/components/layouts/form_field.twig") }}
                            {% set id = "firstName" %}
                            {% set noShadow = true %}
                            {{ include("/components/layouts/form_field.twig") }}
                        </div>
                        <h5 class="mt-2">Compétences</h5>
                        <div class="input-group rounded-5 shadow ">
                            {% set id = "Compétences" %}
                            {% set noShadow = true %}
                            {{ include("/components/layouts/form_field.twig") }}
                            {% set noshadow = false %}
                            <div class="input-group-append">
                                <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Ajouter</button>
                            </div>
                        </div>
                        <div class="d-lg-none">
                            <h5>Description du poste</h5>
                            {% set area = true %}
                            {% set rows="3" %}
                            {% set id = "firstName" %}
                            {{ include("/components/layouts/form_field.twig") }}
                            {% set area = false %}
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 align-self-center">
                        <div class="card bg-pastelBlue bg-opacity-50 overflow-y-scroll shadow rounded-5" style="height: 500px">
                            <div class="card-body">
                                <h6>Compétences</h6>
                                <div class="row">
                                    <div class="col-11">
                                        {% set skill="C++" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                        {% set skill="C#" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                        {% set skill="Python" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                        {% set skill="PHP" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                        {% set skill="C++" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                        {% set skill="HTML" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                        {% set skill="CSS" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                        {% set skill="JS" %}
                                        {{ include ("/components/tiles/skill_tile.twig") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-none d-lg-block ">
                        <h5>Description du poste</h5>
                        {% set area = true %}
                        {% set rows="15" %}
                        {% set id = "firstName" %}
                        {{ include("/components/layouts/form_field.twig") }}
                        {% set area = false %}
                    </div>
                </div>

                <div class="row pb-3 mt-4">
                    <div class="col-6 text-start">
                        <div class="btn btn-outline-custom-blue">Annuler</div>
                    </div>
                    <div class="col-6 text-end">
                        <div class="btn btn-deepSeaBlue">Créer le stage</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}