{% set title = "Stagify - Création d'utilisateur" %}
{% extends "components/layouts/layout.twig" %}
{% import "components/forms/form_field.twig" as form_field %}
{% import "components/forms/date_field.twig" as date_field %}
{% import "components/forms/suggestion_field.twig" as suggestion_field %}
{% import "components/forms/area_field.twig" as area_field %}
{% import "components/forms/file_field.twig" as file_field %}
{% import "components/forms/password_field.twig" as password_field %}

{% block header %}
    <section class="bg-deepWarmGrey">
        <div class="container">
            <div class="row text-center">
                <div class="text-heavyBlack py-3"><h4>Création d'étudiant</h4></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <form class="card bg-deepWarmGrey py-3 px-3 my-5 shadow" action="{{ url_for("create_user", {"role": 3}) }}"
                  method="post" enctype="multipart/form-data">
                {{ include("components/layouts/flash_banners.twig") }}
                <div class="row mb-2">
                    <div class="col-6 text-center border-end border-heavyBlack text-deepSeaBlue">
                        <a class="disabled text-decoration-none" href={{ url_for("create_user", {"role": 3}) }}>
                            <h4>Etudiant</h4>
                        </a>
                    </div>
                    <div class="col-6 text-center">
                        <a class="text-decoration-none text-heavyBlack" href={{ url_for("create_user", {"role": 2}) }}>
                            <h4>Pilote</h4>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <h5>Nom</h5>
                            {{ form_field.content("lastName", old, errors) }}

                            <h5 class="mt-2">Prenom</h5>
                            {{ form_field.content("firstName", old, errors) }}

                            <h5 class="mt-2">Ecole</h5>
                            {{ form_field.content("school", old, errors) }}

                            <h5 class="mt-2">Année - Formation</h5>
                            <div class="row">
                                <div class="col">{{ form_field.content("year", old, errors) }}</div>
                                <div class="col">{{ form_field.content("type", old, errors) }}</div>
                            </div>

                            <h5 class="mt-2">Nom d'utilisateur</h5>
                            {{ form_field.content("login", old, errors) }}

                            <h5 class="mt-2">Mot de passe</h5>
                            {{ password_field.content("password", errors) }}


                        </div>

                        <div class="col-md-12 col-lg-6">

                            <h5 class="mt-2">Localisation (Ville - Code postal)</h5>
                            <div class="row">
                                <div class="col">{{ form_field.content("city", old, errors) }}</div>
                                <div class="col">{{ form_field.content("zipCode", old, errors) }}</div>
                            </div>

                            <h5 class="mt-md-2 mt-lg-0">Compétences</h5>
                            {{ suggestion_field.content("skills", "Compétences", old, errors) }}

                            <h5 class="mt-2">Photo de profil</h5>
                            {{ file_field.content("profilePicture", old, errors) }}

                            <h5 class="mt-2">Description</h5>
                            {{ area_field.content("description", old, errors, 5) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-end">
                            <button class="btn btn-deepSeaBlue">Valider</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}