{% set title = "Stagify - Accueil" %}
{% extends "components/layouts/layout.twig" %}
{% import "components/tiles/home_info_tile.twig" as home_info_tile %}
{% import "components/tiles/job_tile.twig" as job_tile %}

{% block header %}
    <section class="bg-deepWarmGrey rounded-bottom-5 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 ">
                    <h1>
                        Trouves un stage qui mets en valeur tes compétences
                    </h1>
                    <p>
                        Navigues parmis des milliers d'entreprises, des dizaines de domaines, parcours les centaines
                        d'avis et trouves TON stage
                    </p>
                </div>
                <div class="col-lg-2 d-none d-lg-block"></div>
                <div class="col-lg-4 d-none d-lg-block align-self-center">
                    <img class="img-fluid rounded-5" src="/assets/illustrations/home_page.svg"
                         alt="illustration-homepage"/>
                </div>
            </div>
            <div class="row row-cols-md-2 row-cols-lg-4 align-content-center">
                <div class="mb-3 mb-lg-0">
                    {{ home_info_tile.content("brief_case", 9242, "Stages") }}
                </div>
                <div class="mb-3 mb-lg-0">
                    {{ home_info_tile.content("companies", 5251, "Entreprises") }}
                </div>
                <div class="mb-3 mb-lg-0">
                    {{ home_info_tile.content("collaborators", 38213, "Etudiants") }}
                </div>
                <div class="mb-3 mb-lg-0">
                    {{ home_info_tile.content("teachers", 3102, "Pilotes") }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="my-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-10 col-md-9 col-7">
                    <h1>Recommendations de stages</h1>
                </div>
                <div class="col-lg-2 col-md-3 col-5 align-items-end d-flex justify-content-end">
                    <div class="btn btn-outline-custom-blue text-nowrap shadow">
                        Voir tout
                        <img class="img-fluid" src="/assets/svg/misc/arrow_right.svg" alt="arrow"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                </div>
                <div class="col-6 col-lg-4 d-none d-md-block">
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                </div>
                <div class="col-4 d-none d-lg-block">
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                </div>
            </div>

        </div>
    </section>
{% endblock %}

