{% set title = "Stagify - Avis du stage" %}
{% extends "components/layouts/layout.twig" %}
{% import "components/tiles/rating_tile.twig" as rating_tile %}
{% import "components/forms/rating_field.twig" as rating_field %}
{% import "components/forms/area_field.twig" as area_field %}

{% block header %}
    <section class="bg-deepWarmGrey">
        <div class="container">
            <div class="row text-center">
                <div class="text-heavyBlack py-3"><h4>Avis du stage {{ internship.getTitle() }}
                        chez {{ company.getName() }}</h4></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-12">

                    {# <div class="card shadow my-3 bg-deepWarmGrey pb-2 d-lg-none">
                        <div class="card-body">
                            <div class="text-heavyBlack">Filtres</div>
                            <hr>

                            <div class="form-check py-1">
                                <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Les plus récents
                                </label>
                            </div>

                            <div class="form-check py-1">
                                <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    Avis (décroissants)
                                </label>
                            </div>
                            <div class="row pt-2">
                                <div class="col text-start">
                                    <div class="btn btn-deepSeaBlue" onclick="resetFilters()">Réinitialiser</div>
                                </div>
                                <div class="col text-end">
                                    <div class="btn btn-deepSeaBlue" onclick="applyFilters()">Valider</div>
                                </div>
                            </div>
                        </div>
                    </div> #}

                    <div class="card shadow my-3 bg-deepWarmGrey">
                        <div class="card-body overflow-y-scroll" style="height: 60vh">
                            {% for rate in rates %}
                                {{ rating_tile.content(rate, internship) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-12">
                    {# <div class="card shadow my-3 bg-deepWarmGrey pb-2 mb-5 d-none d-lg-block">
                        <div class="card-body">
                            <div class="text-heavyBlack">Filtres</div>
                            <hr>

                            <div class="form-check py-1">
                                <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    Les plus récents
                                </label>
                            </div>

                            <div class="form-check py-1">
                                <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck4">
                                <label class="form-check-label" for="defaultCheck4">
                                    Avis (décroissants)
                                </label>
                            </div>
                            <div class="row pt-2">
                                <div class="col text-start">
                                    <div class="btn btn-deepSeaBlue" onclick="resetFilters()">Réinitialiser</div>
                                </div>
                                <div class="col text-end">
                                    <div class="btn btn-deepSeaBlue" onclick="applyFilters()">Valider</div>
                                </div>
                            </div>
                        </div>
                    </div> #}


                    <form class="card bg-deepWarmGrey py-3 px-3 my-3 shadow"
                          action="{{ url_for("internship_rating", {"id": internship.getId()}) }}"
                          method="post" enctype="multipart/form-data">
                        {{ include("components/layouts/flash_banners.twig") }}

                        <div class="text-heavyBlack pb-2">Rédiger un avis</div>
                        {{ area_field.content("description", old, errors) }}
                        <div class="row mt-3">
                            <div class="col-7">
                                {{ rating_field.content("job_rating") }}
                            </div>
                            <div class="col-5">
                                <div class="btn btn-deepSeaBlue">Envoyer l'avis</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
