{% set title = "Stagify - Offre de stage" %}
{% set alternative_search_bar = true %}
{% extends "components/layouts/layout.twig" %}
{% import "components/tiles/internship_info_tiles.twig" as job_info_tiles %}
{% import "components/tiles/internship_rating_tile.twig" as job_rating_tile %}

{% block header %}
    <section class="bg-deepWarmGrey rounded-bottom-5 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-4">
                    <img class="img-fluid my-3" src="/assets/illustrations/company_logo_bis.svg" alt="logo">
                </div>

                <div class="col-md-5 col-8">
                    <div class="container">
                        <div class="row align-items-center ">
                            <h2 class="mt-3">{{ job_name }}</h2>
                            <h4 class="mb-3 text-darkGrey">{{ company_name }}</h4>
                            <div class="col-1" onclick="toggleWishMark(event, 'wish')">
                                <img src="/assets/svg/misc/wish_empty.svg" alt="wish_mark" id="wish">
                            </div>
                            <div class="col ">
                                <div class="btn btn-deepSeaBlue rounded-2">Faire une demande
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 d-none d-md-block">
                    {{ job_rating_tile.content("18") }}
                </div>
            </div>
            <div class="row d-md-none">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    {{ job_rating_tile.content("18") }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="pt-3">
        <div class="container">
            <div class="row d-md-none">
                <div class="col">
                    {{ job_info_tiles.content(900, 1100, "Reims", 51100, "18 rue Jean Jaures", "8 avril", "26 juillet", 4, "12 semaines", "A2") }}
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-6 col-12">
                    <div class="card shadow bg-deepWarmGrey my-3 py-3 px-3">
                        {{ job_description }}
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6  d-none d-md-block">
                    {{ job_info_tiles.content(900, 1100, "Reims", 51100, "18 rue Jean Jaures", "8 avril", "26 juillet", 4, "12 semaines", "A2") }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}