{% set title = "Stagify - Authentification" %}
{% extends "components/layouts/base.twig" %}
{% import "components/layouts/form_field.twig" as form_field %}

{% block body %}
    <header class="bg-deepWarmGrey">
        <div class="container my-2">
            <div class="row">
                <a class="col-4 col-md-2" href={{ url_for("home") }}>
                    <img class="img-fluid" src="/assets/img/logo.png" alt="logo"/>
                </a>
            </div>
        </div>
    </header>

    <section>
        <hr class="bg-heavyBlack m-0" style="border:none; height: 3px">
    </section>

    <section class="container d-flex flex-fill align-items-center">
        <div class="row">
            <form class="col-lg-6" action="{{ url_for("login") }}" method="post">
                {{ include("components/layouts/flash_banners.twig") }}
                <h1>Connectez vous sur Stagify,<br>LA plateforme de recherche de stages étudiants</h1>
                <h5 class="mt-3">Identifiant</h5>
                {{ form_field.content(errors, old, "login") }}
                <h5 class="mt-3">Mot de passe</h5>
                {{ form_field.content(errors, old, "password", false, 0, true) }}
                <a class="link-dark ms-1" href={{ url_for("home") }}>Mot de passe oublié?</a>
                <div class="m-3"></div>
                <button class="btn btn-deepSeaBlue text-nowrap shadow w-50">S'identifier</button>
            </form>
            <div class="col-lg-2 d-none d-lg-block"></div>
            <div class="col-lg-4 d-none d-lg-block align-self-center">
                <img class="img-fluid rounded-5" src="/assets/illustrations/login_page.png" alt="..."/>
            </div>
        </div>
    </section>

    {{ include("components/layouts/footer.twig") }}
{% endblock %}