{% set title = "Stagify - Utilisateurs" %}
{% set alternative_search_bar = true %}
{% set pagination = true %}
{% extends "components/layouts/layout.twig" %}
{% import "components/forms/checkbox_field.twig" as checkbox_field %}
{% import "components/forms/suggestion_field.twig" as suggestion_field %}

{% block templates %}
    {{ include("components/tiles/user_tile.twig") }}
{% endblock %}

{% block header %}
    <section class="bg-deepWarmGrey ">
        <div class="container py-3">
            <div class="row ">
                <div class="col-lg-8 col-md-7 col-5">
                    <div class="pt-2">Recherche d'utilisateurs</div>
                </div>
                <div class="col-lg-4 col-md-5 col-7 text-end">
                    <div class="dropdown dropdown-menu-end">
                        <div class="btn btn-deepWarmGrey shadow" data-bs-toggle="dropdown"
                             data-bs-target="#usersFilters">
                            <img src="/assets/svg/misc/sliders.svg" alt="slider"> Filtres
                        </div>

                        <div class="dropdown-menu  shadow-lg px-4" id="usersFilters">
                            <label class="pt-2">Filtrer les utilisateurs par</label>

                            <div class="dropdown-divider"></div>
                            <label>Promo</label>
                            <div class="dropdown-divider pb-2"></div>

                            <div class="row">
                                <div class="col-3">{{ checkbox_field.content("year@1", "A1") }}</div>
                                <div class="col-3">{{ checkbox_field.content("year@2", "A2") }}</div>
                                <div class="col-3">{{ checkbox_field.content("year@3", "A3") }}</div>
                                <div class="col-3">{{ checkbox_field.content("year@4", "A4") }}</div>
                            </div>

                            <div class="row">
                                <div class="col-3">{{ checkbox_field.content("year@5", "A5") }}</div>
                                <div class="col-3">{{ checkbox_field.content("year@6", "A6") }}</div>
                                <div class="col-3">{{ checkbox_field.content("year@7", "A7") }}</div>
                                <div class="col-3">{{ checkbox_field.content("year@8", "A8") }}</div>
                            </div>

                            <div class="dropdown-divider pt-2"></div>

                            {{ suggestion_field.content("promos", "Formations") }}

                            <div class="dropdown-divider"></div>

                            {{ suggestion_field.content("campus", "Campus") }}

                            <div class="dropdown-divider"></div>

                            {{ suggestion_field.content("skills", "Compétences") }}

                            <div class="dropdown-divider pb-2"></div>

                            <div class="row pt-2">
                                <div class="col text-start">
                                    <div class="btn btn-deepSeaBlue" onclick="resetFilters()">Réinitialiser</div>
                                </div>
                                <div class="col text-end">
                                    <div class="btn btn-deepSeaBlue" onclick="applyFilters()">Valider</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container pt-4">
            <div class="row mb-2">
                <div class="col-6 text-center border-end border-heavyBlack ">
                    <a class="text-decoration-none {% if role == 3 %}text-deepSeaBlue{% else %}text-heavyBlack{% endif %}"
                       href={{ url_for("users", {"role": 3}) }}>
                        <h4>Etudiants</h4>
                    </a>
                </div>
                <div class="col-6 text-center text-heavyBlack">
                    <a class="disabled text-decoration-none {% if role == 2 %}text-deepSeaBlue{% else %}text-heavyBlack{% endif %}"
                       href={{ url_for("users", {"role": 2}) }}>
                        <h4>Pilotes</h4>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row" id="users"></div>
        </div>
    </section>
{% endblock %}

{% block scripting %}
    <script>const role = {{ role }};</script>
    <script src="/assets/pages/users.js"></script>
{% endblock %}