{% set title = "Stagify - Utilisateurs" %}
{% set alternative_search_bar = true %}
{% set pagination = true %}
{% extends "components/layouts/layout.twig" %}

{% block templates %}
    {{ include("components/tiles/user_tile.twig") }}
{% endblock %}

{% block header %}
    <section class="bg-deepWarmGrey ">
        <div class="container py-3">
            <div class="row ">
                <div class="col-lg-8 col-md-7 col-5">
                    <div class="pt-2">Recherche d'utilisateurs</div>
                </div>
                <div class="col-lg-4 col-md-5 col-7 text-end">
                    <div class="dropdown dropdown-menu-end">
                        <div class="btn btn-deepWarmGrey shadow" data-bs-toggle="dropdown"
                             data-bs-target="#dropdownMenuButtonUsers">
                            <img src="/assets/svg/misc/sliders.svg" alt="slider"> Filtres
                        </div>
                        {{ include("components/filters/users_filter.twig") }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container pt-4">
            <div class="row mb-2">
                <div class="col-6 text-center border-end border-heavyBlack " >
                    <a class="text-decoration-none text-deepSeaBlue" href={{ url_for("users", {"role": 3}) }}>
                        <h4>Etudiants</h4>
                    </a>
                </div>
                <div class="col-6 text-center text-heavyBlack" >
                    <a class="disabled text-decoration-none text-heavyBlack" href={{ url_for("users", {"role": 2}) }} >
                        <h4>Pilotes</h4>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row" id ="students"></div>
        </div>
    </section>
{% endblock %}

{% block scripting %}
    <script>
        const role = {{ role }};
    </script>
    <script src="/assets/pages/users.js"></script>
{% endblock %}