{% set title = "Stagify - Liste de souhaits" %}
{% extends "components/layouts/layout.twig" %}

{% block header %}
    <section class="bg-deepWarmGrey rounded-bottom-5">
        <div class="container">
            <div class="row text-center">
                <div class="text-heavyBlack py-3"><h4>Liste de souhaits</h4></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                {% set index = 3 %}
                {{ include("components/tiles/navigation_tile_vertical.twig") }}
                {{ include("components/tiles/navigation_tile_horizontal.twig") }}

                <div class="col-lg-8 col-12">
                    <div class="card shadow my-3 bg-deepWarmGrey rounded-4">
                        <div class="card-body overflow-y-scroll" style="height: 600px">
                            <div class="row">
                                <div class="col-lg-11 col-12">
                                    {% set job_title = "Ingenieur logiciel" %}
                                    {% set pay = "700" %}
                                    {% set wish_mark = "/assets/svg/misc/wish_full.svg" %}
                                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                                    {% set company_name = "Google" %}
                                    {% set location = "51100 Reims" %}
                                    {{ include("components/tiles/job_tile.twig") }}

                                    {% set job_title = "Ingenieur logiciel" %}
                                    {% set pay = "700" %}
                                    {% set wish_mark = "/assets/svg/misc/wish_full.svg" %}
                                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                                    {% set company_name = "Google" %}
                                    {% set location = "51100 Reims" %}
                                    {{ include("components/tiles/job_tile.twig") }}

                                    {% set job_title = "Ingenieur logiciel" %}
                                    {% set pay = "700" %}
                                    {% set wish_mark = "/assets/svg/misc/wish_full.svg" %}
                                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                                    {% set company_name = "Google" %}
                                    {% set location = "51100 Reims" %}
                                    {{ include("components/tiles/job_tile.twig") }}

                                    {% set job_title = "Ingenieur logiciel" %}
                                    {% set pay = "700" %}
                                    {% set wish_mark = "/assets/svg/misc/wish_full.svg" %}
                                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                                    {% set company_name = "Google" %}
                                    {% set location = "51100 Reims" %}
                                    {{ include("components/tiles/job_tile.twig") }}

                                    {% set job_title = "Ingenieur logiciel" %}
                                    {% set pay = "700" %}
                                    {% set wish_mark = "/assets/svg/misc/wish_full.svg" %}
                                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                                    {% set company_name = "Google" %}
                                    {% set location = "51100 Reims" %}
                                    {{ include("components/tiles/job_tile.twig") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
