{% set title = "Stagify - Liste de souhaits" %}
{% extends "components/layouts/layout.twig" %}
{% import "components/tiles/navigation_tile_vertical.twig" as navigation_tile_vertical %}
{% import "components/tiles/navigation_tile_horizontal.twig" as navigation_tile_horizontal %}
{% import "components/tiles/job_tile.twig" as job_tile %}

{% block header %}
    <section class="bg-deepWarmGrey rounded-bottom-5">
        <div class="container">
            <div class="row text-center">
                <div class="text-heavyBlack py-3"><h4>Liste de souhaits</h4></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                {{ navigation_tile_vertical.content(3) }}
                {{ navigation_tile_horizontal.content(3) }}

                <div class="col-lg-8 col-12">
                    <div class="card shadow my-3 bg-deepWarmGrey rounded-4">
                        <div class="card-body overflow-y-scroll" style="height: 615px">
                            <div class="row">
                                <div class="col">
                                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                                    {{ job_tile.content("Ingenieur logiciel", 700, "company_logo", "Google", "Reims") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
