{% extends "components/layouts/base.twig" %}
{% import "components/layouts/form_field.twig" as form_field %}

{% block body %}
    <header class="bg-deepWarmGrey">
        <div class="container my-2">
            <div class="row">
                <a class="col-4 col-md-2" href={{ url_for("home") }}>
                    <img class="img-fluid" src="/assets/img/logo.png" alt="logo"/>
                </a>
            </div>
        </div>
    </header>

    <section>
        <hr class="hr bg-heavyBlack m-0" style="border:none; height: 3px"/>
    </section>

    <section>
        <div class="container bg-deepWarmGrey rounded-5 my-5 py-5">
            {{ include("components/layouts/flash_banners.twig") }}
            <form action="{{ url_for("form") }}" method="post">
                {{ form_field.content("firstName") }}
                <div class="my-3"></div>
                {{ form_field.content("lastName") }}
                <div class="my-3"></div>
                {{ form_field.content("profilPicture", false, 0, false, true) }}
                <div class="my-3"></div>
                {{ form_field.content("login", true, 10) }}
                <div class="my-3"></div>
                {{ form_field.content("password", false, 0, true) }}
                <div class="my-3"></div>
                {{ form_field.content("password_confirm", false, 0, true, false, false) }}
                <div class="my-3"></div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}