{% extends "components/base.twig" %}

{% block body %}
    <header class="bg-deepWarmGrey">
        <div class="container my-2">
            <div class="row">
                <a class="col-4 col-md-2" href={{ url_for("home") }}>
                    <img class="img-fluid" src="/assets/img/logo.png" alt="logo"/>
                </a>
            </div>
        </div>
    </header>

    <section>
        <hr class="hr bg-heavyBlack m-0" style="border:none; height: 3px"/>
    </section>

    <section>
        <div class="container bg-deepWarmGrey rounded-5 my-5 py-5">
            {{ include("components/layouts/flash_banners.twig") }}
            <form action="{{ url_for("form") }}" method="post">
                {% set id = "firstName" %}
                {% set label = "Prénom" %}
                {{ include("components/layout/form_field.twig") }}
                <div class="my-3"></div>
                {% set id = "lastName" %}
                {% set label = "Nom" %}
                {{ include("components/layout/form_field.twig") }}
                <div class="my-3"></div>
                {% set id = "profilPicture" %}
                {% set label = "Photo de profil (optionnel)" %}
                {{ include("components/layout/form_field.twig") }}
                <div class="my-3"></div>
                {% set id = "login" %}
                {% set label = "Identifiant" %}
                {{ include("components/layout/form_field.twig") }}
                <div class="my-3"></div>
                {% set hide = true %}
                {% set id = "password" %}
                {% set label = "Mot de passe" %}
                {{ include("components/layout/form_field.twig") }}
                <div class="my-3"></div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}