{% extends "components/base.twig" %}

{% block body %}
    <header class="bg-deepWarmGrey">
        <div class="container my-2">
            <div class="row">
                <a class="col-4 col-md-2" href={{ url_for("home") }}>
                    <img class="img-fluid" src="/assets/img/logo.png" alt="logo"/>
                </a>
            </div>
        </div>
    </header>

    <section>
        <hr class="hr bg-heavyBlack m-0" style="border:none; height: 3px"/>
    </section>

    <section>
        <div class="container bg-deepWarmGrey rounded-5 my-5 py-5">
            {{ include("components/flash_banner.twig") }}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Profile Picture Path</th>
                    <th>Login</th>
                    <th>Password Hash</th>
                    <th>Deleted</th>
                    <th>Promo Name</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.getId() }}</td>
                        <td>{{ user.getFirstName() }}</td>
                        <td>{{ user.getLastName() }}</td>
                        <td>{{ user.getProfilePicturePath() }}</td>
                        <td>{{ user.getLogin() }}</td>
                        <td>{{ user.getPasswordHash() }}</td>
                        <td>{{ user.getDeleted() ? "Yes" : "No" }}</td>
                        <td>{{ user.getPromo() ? user.getPromo().getName() : "N/A" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}